.bl-container {
    background: #DCDCDC;
    padding-top: 80px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
} 

body{
    background: #DCDCDC;
}

.bl-background {
    background: #DCDCDC;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
    min-width: 810px;
    max-width: 1000px;
    box-sizing: border-box;
}

.bl-bought {
    background: #DCDCDC;
    width: 250px;
    float: right;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 40px;
    border-radius: 6px;
}

.bl-title{
    background: white;
    height: 25px;
    padding: 10px;
    font-weight: bolder;
    font-size: 130%;
    font-family: Arial;
    margin: 1px 1px;
}

.bl-title-list{
    background: white;
    padding: 10px;
    margin: 1px 1px;
}

.bl-not-bought-list{
    background-color: #E8E8E8;
    padding: 9px;
    height: 9px;
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
    font-family: Arial;
    line-height: 10px;
    font-family: Arial;
    color: #000000;
    margin: 1px 1px;
    border-radius: 3px;
    display: inline-block;
}

.bl-name-prod-bought{
    text-decoration: line-through;
}

.bl-count-list{
    height: 9px;
    width: 12px;
    padding: 4px;
    font-size: 9px;
    padding: 5px 7px;
    line-height: 9px;
    font-weight: bond;
    background-color: #F2711C;
    color: #FFFFFF;
    width: 10px;
    border-radius: 30px;
    margin-left: 3px;
}

.bl-count-list-bought{
    height: 9px;
    width: 12px;
    padding: 4px;
    font-size: 9px;
    padding: 5px 7px;
    line-height: 9px;
    font-weight: bond;
    text-decoration: line-through;
    background-color: #F2711C;
    color: #FFFFFF;
    width: 10px;
    border-radius: 30px;
    margin-left: 3px;   
}

.bl-list {
    background: #DCDCDC;
    margin-bottom: 10px;
    margin-right: 300px;
    border-radius: 6px;
}

.bl-row{
    background-color: #FFFFFF;
    height: 40px;
    margin: 1px 1px;
    padding: 5px;
    display: flex;    
}

.bl-new-product{
    background-color: #FFFFFF;
    height: 40px;
    margin: 1px 1px;
    padding: 5px;
    overflow: hidden;
}

.add-prod-text {
    width: 68%;
    height: 15px;
    padding: 10px 10px;
    margin: 2px;
    margin-right: 0px;
    display: inline-block;
    border: 1px solid #6495ED;
    border-radius: 4px;
    text-align: left;
    font-size: 100%;
    font-family: Arial;
    color: #000000;
    float:right;
}

/*Кнопки*/
.bl-add-product{
    float:right;
    padding: 10px 25px;
    margin-left: 0px;
    font-size: 90%;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2185D0;
    border: none;
    box-shadow: 0 2px #00008B;
    display: flex;
    
}

.bl-count{
    width: 40%;
   font-size: 14px;
    text-align: center;
}

.bl-product{
    width: 30%;
    padding: 10px;
    font-weight: lighter;
    font-size: 90%;
    font-family: Arial;
    margin: 1px 1px;
}

.bl-product-bought{
    width: 30%;
    padding: 10px;
    font-weight: lighter;
    font-size: 90%;
    font-family: Arial;
    margin: 1px 1px;
    text-decoration: line-through;
}

.bl-minus {
    position: relative;
    padding: 6px 11px;
    font-size: 90%;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #DB2828;
    border: none;
    box-shadow: 0 1px #800000;
    display: inline-block;
    border-radius: 15px;
    margin: 5px;
}

.bl-label {
    background: #F5F5F5;
    display: inline-block;
    padding: 5px 6px;
    border-radius: 5px;
    margin: 5px;
}

.bl-label-bought {
    background: #F5F5F5;
    display: inline-block;
    padding: 5px 6px;
    border-radius: 5px;
    margin: 5px;
    
}

.bl-plus {
    padding: 6px 10px;
    font-size: 90%;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #21BA45;
    border: none;
    box-shadow: 0 1px #006400;
    display: display: inline-block;
    border-radius: 15px;
    margin: 5px;
}

.bl-buttons{
    width: 30%;
}

.bl-buy {
    position: relative;
    float: right;
    padding: 10px 15px;
    text-align: center;
    font-size: 10px;
    font-family: Arial;
    line-height: 10px;
    cursor: pointer;
    outline: none;
    color: #696969;
    background-color: #F5F5F5;
    border: none;
    box-shadow: 0 1px lightgrey;
    display: display: inline-block;
    border-radius: 4px;
    margin: 5px;
}

.bl-buy::after{ 
    position: absolute;
    transform: scale(0);
    content: attr(data-tooltip);
    top: -30px;
    right: -20%;
    width: 90px;
    height: 15px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #9400D3;
    transition: all 200ms linear;
    transform-origin: 50% 100%;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-size: 10px;
}

.bl-buy-bought{
    position: relative;
    float: right;
    padding: 10px 15px;
    text-align: center;
    font-size: 10px;
    font-family: Arial;
    line-height: 10px;
    cursor: pointer;
    outline: none;
    color: #696969;
    background-color: #F5F5F5;
    border: none;
    box-shadow: 0 1px lightgrey;
    display: display: inline-block;
    border-radius: 4px;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.bl-buy-bought::after{ 
    position: absolute;
    transform: scale(0);
    content: attr(data-tooltip);
    top: -30px;
    right: -10%;
    width: 90px;
    height: 15px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #9400D3;
    transition: all 200ms linear;
    transform-origin: 50% 100%;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-size: 10px;
}

.bl-delete {
    position: relative;
    float: right;
    padding: 10px 12px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    font-family: Arial;
    line-height: 10px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #DB2828;
    border: none;
    box-shadow: 0 1px red;
    display: display: inline-block;
    border-radius: 3px;
    margin: 5px;
}

button{
    position: relative;
}

button::after{ 
    position: absolute;
    transform: scale(0);
    content: attr(data-tooltip);
    top: -30px;
    right: -100%;
    width: 90px;
    height: 15px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #9400D3;
    transition: all 200ms linear;
    transform-origin: 50% 100%;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-size: 10px;
}

button:hover::after{    
    transform: scale(1);
}

.banner{
    position: fixed;
    width: 200px;
    height: 180px;
    bottom: -100px;
    left: 50px;
    background-color: #9400D3;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    transition: all 700ms linear;
}

.bl-buylist{
    padding: 15px;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
    
}

.bl-creation{
    padding: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: Arial;
}

.bl-myname{
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
}

.banner:hover{
    width: 200px;
    height: 180px;
    bottom: 0px;
    left: 50px;
    background-color: #191970;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    

}

@media print{
    .banner{
        border: 2px solid  #9400D3;
        background-color: #FFFFFF;
        height: 80px;
        bottom: 0px;
        left: 50px;
        border-radius: 10px 10px 0px 0px;
        
    }
    .bl-buylist{
        display: none;
    }
    .bl-creation, .bl-myname{
        color: #000000;
    }
}

@media  (max-width:750px) {
    .center {      
        margin-left: 0;
        margin-right: 0;
        padding-left: 1%;
        padding-right: 1%;
    }
    .bl-list{
        width: 500px;
        margin-left: 20px;
    }
    .bl-bought{
        width: 300px;
        margin-left: 20px;
    }
}

.clearfix::after {
    visibility: hidden; 
    display: block;
    content:""; 
    height: 0;
    clear: both; 
 }

@media  (max-width:810px) {
    .bl-background {
        margin: auto;
        min-width: 520px;
        max-width: 810px;
}
    .bl-list{
        width: 90%;
        float: none;
        overflow: hidden;
        margin: 30px;
    }
    .bl-bought{
        width: 90%;
        float: none;
        margin: 30px;
        margin-right: 30px;
    }
}
.state-not-bought .bl-buy-bought{
    display: none;
}

.state-bought .bl-buy, .state-bought .bl-delete, .state-bought .bl-plus, .state-bought .bl-minus {
    display: none;
    
}

.state-bought .bl-product{
    text-decoration: line-through;
}

.state-not-change-name .bl-change-name{
    display: none;
}

.state-change-name .bl-change-name{
    width: 30%;
    padding: 10px;
}
.state-change-name .bl-product{
    display: none;
}